body,.page{
    margin: 0;
    padding: 0;
}
.first-part{
    background: url(indian.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 60vh;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
}
li{
    display: inline;
    padding: 5px;
}
.text{
    align-self: center;
}

.list{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
 .list-1{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
}
.about{
    background: #ffa500a8;
    padding: 10px 28px;
}
.publication{
    background: orange;
    padding: 10px 10px;
}
.menu{
    background: orangered;
    padding: 10px 24px;
}
.contact{
    background: rgb(3, 70, 3);
    padding: 10px 20px
}
.para{
    border-radius: 54%;
    margin: auto;
    width: 25%;
    background-color: orange;
    padding: 50px;
    box-shadow: 3px 6px 30px 24px#ffa500a8
}

.img{
    width: 100%;
}
.second-part{
    display: flex;
    flex-direction: row;
    background: #ffddcc30;
}
.other-part{
    height: 600px;
    top: -120px;
    position: relative;
}
.other-part-1{
    margin-top: 90px;
    padding: 90px;
    width: 50%;
}
.statement{
    display: flex;
    margin-bottom: 200px;
}
.vision{
    margin-left: 10px;
}
.Third-part{
    background: rgb(145, 192, 50);
    height: auto;
}
/* .food-tray{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -10px;
    position: relative;
} */
.Edition{
    width: 70%;
    padding: 25px;
    position: relative;
    top: -150px;
    display: flex;
    /* justify-content: center; */
    margin: auto;
    justify-content: space-between;
}
.Lastest{
    color: #ffffff;
    background: rgb(3, 70, 3);
    /* width: 60%; */
    padding: 25px;
}
.food-tray{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
}
.btn-1{
    background: #ffffff;
    color: green;
    border-radius: 25px;
    /* padding: 10px 76px; */
    border: 1px;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    width: 65%;
    height: 30px;
}
.btn-2{
    background: rgb(145, 192, 50);
    color: #fff;
    border-radius: 25px;
    /* margin-left: 245px; */
    padding: 10px 15px;
    border: 1px solid #fff;
    cursor: pointer;
    display: inline;
}
.btn{
    display: flex;
    justify-content: space-between;
}

.food-list{
    width: 30%;
     display: flex;
    flex-direction: column;
    
}
.items{
    list-style: none;
    padding: 0;
    margin: 0;
}
.por{
    background: rgb(255, 81, 0);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.inter{
    background: orange;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cake{
    background: rgb(255, 199, 95);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.des{
    background: orange;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.Asaro{
    /* width: 100%;
    height: 100%; */
    position: relative;
}
.local-list{
     /* float: left; */
    width: 40%; 
    
}
.forth-text{
    background: #ffddcc30;
    padding: 35px;
}
.forth-text-1{
    background: url(leaf.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}
.text-1{
    display: flex;
    justify-content: center;
    padding: 40px;
    color: #ffff;
}
.text-2{
    display: flex;
    justify-content: center;
    padding: 40px;
    color: orange;
    margin-top: -74px;
}
.local-list-1{
    display: block;
}
.but{
    border-radius: 25%;
}
.footer{
    background: orangered;
}
.yam{
    border-bottom: 3px solid orange;
    width: 73%;
    padding: 20px;
}
.sub-head{
    color: #7eb872;
}
.circle{
    background: grey; 
    border: 1px;
    border-radius: 50%; 
    padding: 5px;
}
.para-2 {
    border-radius: 54%;
    /* margin: auto; */
    width: 25%;
    background-color: #fff;
    /* padding: 50px; */
    /* box-shadow: 3px 6px 30px 24px#ffa500a8; */
    font-size: 2em;
    padding: 70px;
    color: orangered;
}
.socials{
    cursor: pointer;
}
.footer{
    display: block;
    align-items: center;
}
.footer-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}  
@media only screen and (max-width: 600px) {
    /* .first-part{
        display: flex;
        flex-wrap: wrap;
        height: 35vh;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
    } */
    .other-part{
        display: none;
    }
    .other-part-1{
        margin-top: auto;
        padding: auto;

        
    }
    .statement{
        display: block;
        margin-bottom: 200px;
    }
    .Third-part{
        height: auto;
    }
    .footer{
        display: block;
        align-items: center;
        padding: 30px;
    }
    .footer-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px;
        flex-wrap: wrap;
    }  
    .vision{
        margin: auto;
    }
    .access{
        display: inline-block;
        text-align: center;
        margin-left: 20px;
    }
}       
